@import 'variables';


.commonContainer {
  position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
  box-sizing: border-box;
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @media (min-width: 600px){
    width: 80%;
  }

  @media (min-width: 400px){
    width: 85%;
    padding: 0;
  }
}


.commonRow {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.commonDivider {
	width: 20%;
	height: 2px;
	background: $red;
	background: -moz-linear-gradient(-45deg, $red 0%, $blue 100%);
	background: -webkit-linear-gradient(-45deg, $red 0%, $blue 100%);
	background: linear-gradient(135deg, $red 0%, $blue 100%);
	margin-bottom: 50px;
}


.commonLeader {
  margin-top: 2rem;
	margin-bottom: 2rem;
  font-weight: 300;
  font-size: 3.0rem;
	line-height: 1.3;
  letter-spacing: -.1rem;
}

.slideLeft {
	-webkit-animation: slideLeft 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slideLeft 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
            visibility: hidden;
  }

  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
            visibility: visible;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
            visibility: hidden;
  }

  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
            visibility: visible;
  }
}