$background: #282d47;
$backgroundOpaque: rgba(40, 45, 71, 0.95);
$white: #ffff;
$red: #e55d87;
$blue: #5fc3e4;
$lightBlue: #8FD5EC;
$lightGray: #D0D3CD;
$hoverDark: rgba(0, 0, 0, 0.3);
$textShadow: 0 1px 0 rgba(0, 0, 0, 1);
$boxShadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.35);
$cardGradient: linear-gradient(
  to top right,
  rgb(82, 86, 107),
  rgb(61, 66, 89)
);