@font-face {
  font-family: Gruppo; 
  src: url(../assets/fonts/misc/Gruppo-Regular.ttf);
}

@font-face {
  font-family: Audiowide; 
  src: url(../assets/fonts/misc/Audiowide-Regular.ttf);
}

@font-face {
  font-family: Megrim; 
  src: url(../assets/fonts/misc/Megrim-Regular.ttf);
}

@font-face {
  font-family: Open Sans;
  src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf)
}

@import './partials/common';
@import './partials/mixins';

html {
	font-size: 62.5%;
}

body {
  margin: 0; 
	font-size: 1.5em;
  line-height: 1.6;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: $lightGray;
  text-shadow: $textShadow;
  background-color: $background;
}


//////////////////////// ---  N A V B A R


#navMain {
  height: 50px;
  width: 100%;
  position: fixed;

  @media (max-width: 700px) {
    background: $background;
  }

  .navHeader {
    display: inline;
  }

  .navTitle {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 0.5em;
    font-weight: 600;
    font-family: 'Megrim', sans-serif;
    margin-left: 5px;
  }

  .navButton {
    display: none;

    @media (max-width: 700px) {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    
      label {
        display: inline-block;
        padding: 13px;
    
        &:hover {
          background-color: $hoverDark;
        }
    
        span {
          display: block;
          width: 25px;
          height: 7px;
          border-top: 1px solid $lightGray;
        }
      }
    }
  }

  .navLinksMain {
    display: inline-flex;
    float: right;
    font-size: 14px;
    letter-spacing: 0.2em;

    a {
      display: inline-block;
      padding: 13px 10px;
      text-decoration: none;
      color: $lightGray;
    }

    .cvLink {
      font-family: 'Audiowide', sans-serif;
      font-size: 14px;
      margin-top: 0.5px;
    }
    
    .fa-envelope {
      font-size: 17px;
    }
    
    .fa-linkedin {
      font-size: 18px;
    }
    
    .fa-github-alt, .fa-dribbble {
      font-size: 19px;
    }
    
    .fa-twitter {
      font-size: 19.5px;
      margin-right: 5px;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }

  .navLinksDropdown {
    display: none;
  
    a {
      display: inline-block;
      padding: 13px 10px;
      text-decoration: none;
      color: $lightGray;

      &:hover {
        background-color: $hoverDark;
      }
    }

    @media (max-width: 700px) {
      position: absolute;
      display: block;
      width: 100%;
      background: $backgroundOpaque;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      z-index: 999;
      font-family: 'Gruppo', sans-serif;
      font-size: 17px;
    
      a {
        display: block;
        width: 100%;
      }
    }
  }

  #navResponsive {
    display: none;

    @media (max-width: 700px) {
      &:checked ~ .navButton label {
        background-color: $hoverDark;
      }

      &:checked ~ .navLinksDropdown {
        height: calc(50vh - 40px);
        overflow-y: auto;
        z-index: 1;
      }

      &:not(:checked) ~ .navLinksDropdown {
        height: 0px;
      }
    }
  }
}

.stickyNav {
  background: $background;
  z-index: 99;
  opacity: 1;
	top: 0px;
}


//////////////////////// ---  H E A D E R


header {
  @include flexCenter;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/backgrounds/Banner_Large.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  @media (max-width: 650px) {
    background-image: url(../assets/images/backgrounds/Banner_Small.png)
  }
}


//////////////////////// ---  A B O U T


#aboutMain {
  padding-bottom: 75px;
  width: 100%;

  #aboutHeader {
    @include header;
    padding-top: 75px;
  }

  #aboutRow p {
    padding-bottom: 2rem;
    width: 85%;
    text-align: justify;

    @media (max-width: 750px) {
      width: initial;
    }
  }

  .aboutColumn {
    @include column;
    margin-top: 15px;
  
    @media (min-width: 650px){
      margin-left: 4%;
      width: 48%;
  
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 1055px) and (min-width: 650px) {
  #designColumn {
    float: none !important;
  }

  #expertiseColumn {
    float: right !important;
    margin-top: -19rem !important;
  }

  #frontEndColumn {
    padding-bottom: 2rem;
  }
}

#expertiseColumn {
  @media (max-width: 1001px) and (min-width: 650px) {
    margin-top: -21.5rem !important;
  }

  @media (max-width: 820px) and (min-width: 650px) {
    margin-top: -24rem !important;
  }

  @media (max-width: 674px) and (min-width: 650px) {
    margin-top: -26.4rem !important;
  }
}


//////////////////////// ---  S K I L L S E T


#skillMain {
  padding: 50px 0;
  
  #skillHeader {
    @include header;
  }

  .skillColumn {
    @include column;
    
    @media (min-width: 750px) {
      margin-left: 4%;
      width: 30.6666666667%;
  
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .progressColumn {
    @include column;
    margin-top: 50px;
  
    @media (min-width: 600px) {
      margin-left: 4%;
      width: 65.3333333333%;
  
      &:first-child {
        margin-left: 0;
      }
    }
  
    .progressBarMain {
      margin-bottom: 26px;
      margin-bottom: 1.66em;
  
      .progressText {
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 16px;
        text-transform: none;
        margin-bottom: .33em;
      }
  
      .progressBarContainer {
        width: 100%;
        height: 8px;
        background: transparent;
        overflow: hidden;;
  
        .progressBarValue {
          height: 8px;
          float: left;
          background: $red;
          background: -moz-linear-gradient(-45deg, $red 0%, $blue 100%);
          background: -webkit-linear-gradient(-45deg, $red 0%, $blue 100%);
          background: linear-gradient(135deg, $red 0%, $blue 100%);
        }
        
        .angularValue, .rubyValue {
          width: 40%;
        }
        
        .wordpressValue {
          width: 50%;
        }
        
        .mongoValue, .sqlValue {
          width: 60%;
        }
        
        .aiValue {
          width: 70%;
        }
        
        .reactValue {
          width: 80%;
        }

        .pythonValue {
          width: 55%;
        }
        
        .webCoreValue {
          width: 90%;
        }

        .expressValue, .nodeValue {
          width: 65%;
        }
      }
    }
  }
}


//////////////////////// ---  P R O J E C T S


#projectsMain {
  padding: 50px 0;

  #projectsHeader {
    @include header;
  }

  .projectsCards {
    @include flexCenter;

    @media (max-width: 600px) {
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .singleCard {
      color: white;
      background-image: $cardGradient;
      border-radius: 1rem;
      padding: 5rem 3rem;
      box-shadow: $boxShadow;
      transition: 0.4s ease;

      @media (max-width: 600px) {
        width: 85%;
        padding: 4rem 2.5rem;
        margin: 10px 0px;
        transition: none;
      }
    
      .cardTitle {
        display: flex;
        justify-content: space-between;

        .fa {
          font-size: 20px;
          color: $blue;

          &:hover {
            color: $lightBlue;
          }
        }
      }

      .cardImage {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }

      &:not(:first-child) {
        margin-left: -11rem;

        @media (max-width: 600px) {
          margin-left: 0px;
         }
      }
      
      &:hover {
        transform: translateY(-3rem);

        @media (max-width: 600px) {
         transform: none;
        }
      }
      
      &:hover ~ .singleCard {
        transform: translateX(11rem);

        @media (max-width: 600px) {
          transform: none;
        }
      }
    }
  }
}


//////////////////////// ---  F O O T E R


.footerCopyright {
  width: 100%;
	float: left;
	box-sizing: border-box;
	min-height: 120px;
  padding: 40px 0;

  @media (min-width: 600px) {
    margin-left: 4%;
    width: 74.0%;

    &:first-child {
      margin-left: 0px;
    }
  }

  a {
    color: $white;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 20px 0 0 0;
  }
}
